[*.cs]

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = unused_local_variable

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.OrderingRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.OrderingRules.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.NamingRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.NamingRules.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.ReadabilityRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.ReadabilityRules.severity = none

# SA1100: Do not prefix calls with base unless local implementation exists
dotnet_diagnostic.SA1100.severity = warning

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1102: Query clause should follow previous clause
dotnet_diagnostic.SA1102.severity = warning

# SA1103: Query clauses should be on separate lines or all on one line
dotnet_diagnostic.SA1103.severity = warning

# SA1104: Query clause should begin on new line when previous clause spans multiple lines
dotnet_diagnostic.SA1104.severity = warning

# S100: Methods and properties should be named in PascalCase
dotnet_diagnostic.S100.severity = warning

# S103: Lines should not be too long
dotnet_diagnostic.S103.severity = warning

# S104: Files should not have too many lines of code
dotnet_diagnostic.S104.severity = warning

# S105: Tabulation characters should not be used
dotnet_diagnostic.S105.severity = warning

# S106: Standard outputs should not be used directly to log anything
dotnet_diagnostic.S106.severity = warning

# S1067: Expressions should not be too complex
dotnet_diagnostic.S1067.severity = warning

# S107: Methods should not have too many parameters
dotnet_diagnostic.S107.severity = warning

# S109: Magic numbers should not be used
dotnet_diagnostic.S109.severity = warning

# S110: Inheritance tree of classes should not be too deep
dotnet_diagnostic.S110.severity = warning

# S1109: A close curly brace should be located at the beginning of a line
dotnet_diagnostic.S1109.severity = warning

# S1128: Unused "using" should be removed
dotnet_diagnostic.S1128.severity = warning

# S113: Files should contain an empty newline at the end
dotnet_diagnostic.S113.severity = warning

# S1147: Exit methods should not be called
dotnet_diagnostic.S1147.severity = warning

# S1151: "switch case" clauses should not have too many lines of code
dotnet_diagnostic.S1151.severity = warning

# S1192: String literals should not be duplicated
dotnet_diagnostic.S1192.severity = warning

# S1200: Classes should not be coupled to too many other classes (Single Responsibility Principle)
dotnet_diagnostic.S1200.severity = warning

# S121: Control structures should use curly braces
dotnet_diagnostic.S121.severity = warning

# S122: Statements should be on separate lines
dotnet_diagnostic.S122.severity = warning

# S1226: Method parameters, caught exceptions and foreach variables' initial values should not be ignored
dotnet_diagnostic.S1226.severity = warning

# S1227: break statements should not be used except for switch cases
dotnet_diagnostic.S1227.severity = warning

# S126: "if ... else if" constructs should end with "else" clauses
dotnet_diagnostic.S126.severity = warning

# S127: "for" loop stop conditions should be invariant
dotnet_diagnostic.S127.severity = warning

# S1309: Track uses of in-source issue suppressions
dotnet_diagnostic.S1309.severity = none

# S131: "switch/Select" statements should contain a "default/Case Else" clauses
dotnet_diagnostic.S131.severity = warning

# S134: Control flow statements "if", "switch", "for", "foreach", "while", "do"  and "try" should not be nested too deeply
dotnet_diagnostic.S134.severity = warning

# S138: Functions should not have too many lines of code
dotnet_diagnostic.S138.severity = warning

# S1451: Track lack of copyright and license headers
dotnet_diagnostic.S1451.severity = none

# S1479: "switch" statements should not have too many "case" clauses
dotnet_diagnostic.S1479.severity = warning

# S1541: Methods and properties should not be too complex
dotnet_diagnostic.S1541.severity = none

# S1449: Culture should be specified for "string" operations
dotnet_diagnostic.S1449.severity = warning

# S1301: "switch" statements should have at least 3 "case" clauses
dotnet_diagnostic.S1301.severity = warning

# S1244: Floating point numbers should not be tested for equality
dotnet_diagnostic.S1244.severity = warning

# S1659: Multiple variables should not be declared on the same line
dotnet_diagnostic.S1659.severity = warning

# S1694: An abstract class should have both abstract and concrete methods
dotnet_diagnostic.S1694.severity = warning

# S1696: NullReferenceException should not be caught
dotnet_diagnostic.S1696.severity = warning

# S1698: "==" should not be used when "Equals" is overridden
dotnet_diagnostic.S1698.severity = warning

# S1821: "switch" statements should not be nested
dotnet_diagnostic.S1821.severity = warning

# S1858: "ToString()" calls should not be redundant
dotnet_diagnostic.S1858.severity = warning

# S1994: "for" loop increment clauses should modify the loops' counters
dotnet_diagnostic.S1994.severity = warning

# S2148: Underscores should be used to make large numbers readable
dotnet_diagnostic.S2148.severity = warning

# S2156: "sealed" classes should not have "protected" members
dotnet_diagnostic.S2156.severity = warning

# S2197: Modulus results should not be checked for direct equality
dotnet_diagnostic.S2197.severity = warning

# S2221: "Exception" should not be caught when not required by called methods
dotnet_diagnostic.S2221.severity = warning

# S2228: Console logging should not be used
dotnet_diagnostic.S2228.severity = warning

# S2302: "nameof" should be used
dotnet_diagnostic.S2302.severity = warning

# S2325: Methods and properties that don't access instance data should be static
dotnet_diagnostic.S2325.severity = none

# S2327: "try" statements with identical "catch" and/or "finally" blocks should be merged
dotnet_diagnostic.S2327.severity = warning

# S2330: Array covariance should not be used
dotnet_diagnostic.S2330.severity = warning

# S2333: Redundant modifiers should not be used
dotnet_diagnostic.S2333.severity = warning

# S2339: Public constant members should not be used
dotnet_diagnostic.S2339.severity = warning

# S2357: Fields should be private
dotnet_diagnostic.S2357.severity = warning

# S2360: Optional parameters should not be used
dotnet_diagnostic.S2360.severity = none

# S2342: Enumeration types should comply with a naming convention
dotnet_diagnostic.S2342.severity = warning

# S2387: Child class fields should not shadow parent class fields
dotnet_diagnostic.S2387.severity = warning

# S2436: Types and methods should not have too many generic parameters
dotnet_diagnostic.S2436.severity = warning

# S2674: The length returned from a stream read should be checked
dotnet_diagnostic.S2674.severity = warning

# S2701: Literal boolean values should not be used in assertions
dotnet_diagnostic.S2701.severity = warning

# S2760: Sequential tests should not check the same condition
dotnet_diagnostic.S2760.severity = warning

# S2931: Classes with "IDisposable" members should implement "IDisposable"
dotnet_diagnostic.S2931.severity = warning

# S2952: Classes should "Dispose" of members from the classes' own "Dispose" methods
dotnet_diagnostic.S2952.severity = warning

# S2955: Generic parameters not constrained to reference types should not be compared to "null"
dotnet_diagnostic.S2955.severity = warning

# S3052: Members should not be initialized to default values
dotnet_diagnostic.S3052.severity = warning

# S3059: Types should not have members with visibility set higher than the type's visibility
dotnet_diagnostic.S3059.severity = warning

# S3215: "interface" instances should not be cast to concrete types
dotnet_diagnostic.S3215.severity = warning

# S3216: "ConfigureAwait(false)" should be used
dotnet_diagnostic.S3216.severity = warning

# S3234: "GC.SuppressFinalize" should not be invoked for types without destructors
dotnet_diagnostic.S3234.severity = warning

# S3235: Redundant parentheses should not be used
dotnet_diagnostic.S3235.severity = warning

# S3240: The simplest possible condition syntax should be used
dotnet_diagnostic.S3240.severity = warning

# S3242: Method parameters should be declared with base types
dotnet_diagnostic.S3242.severity = none

# S3253: Constructor and destructor declarations should not be redundant
dotnet_diagnostic.S3253.severity = warning

# S3257: Declarations and initializations should be as concise as possible
dotnet_diagnostic.S3257.severity = warning

# S3254: Default parameter values should not be passed as arguments
dotnet_diagnostic.S3254.severity = none

# S3353: Unchanged local variables should be "const"
dotnet_diagnostic.S3353.severity = warning

# S3366: "this" should not be exposed from constructors
dotnet_diagnostic.S3366.severity = warning

# S3431: "[ExpectedException]" should not be used
dotnet_diagnostic.S3431.severity = warning

# S3441: Redundant property names should be omitted in anonymous classes
dotnet_diagnostic.S3441.severity = warning

# S3532: Empty "default" clauses should be removed
dotnet_diagnostic.S3532.severity = warning

# S3717: Track use of "NotImplementedException"
dotnet_diagnostic.S3717.severity = warning

# S3776: Cognitive Complexity of methods should not be too high
dotnet_diagnostic.S3776.severity = warning

# S3872: Parameter names should not duplicate the names of their methods
dotnet_diagnostic.S3872.severity = warning

# S3876: Strings or integral types should be used for indexers
dotnet_diagnostic.S3876.severity = warning

# S3874: "out" and "ref" parameters should not be used
dotnet_diagnostic.S3874.severity = warning

# S3880: Finalizers should not be empty
dotnet_diagnostic.S3880.severity = warning

# S3900: Arguments of public methods should be validated against null
dotnet_diagnostic.S3900.severity = warning

# S3902: "Assembly.GetExecutingAssembly" should not be called
dotnet_diagnostic.S3902.severity = warning

# S3898: Value types should implement "IEquatable<T>"
dotnet_diagnostic.S3898.severity = warning

# S3906: Event Handlers should have the correct signature
dotnet_diagnostic.S3906.severity = warning

# S3909: Collections should implement the generic interface
dotnet_diagnostic.S3909.severity = warning

# S3937: Number patterns should be regular
dotnet_diagnostic.S3937.severity = warning

# S3949: Calculations should not overflow
dotnet_diagnostic.S3949.severity = warning

# S3908: Generic event handlers should be used
dotnet_diagnostic.S3908.severity = warning

# S3956: "Generic.List" instances should not be part of public APIs
dotnet_diagnostic.S3956.severity = warning

# S3962: "static readonly" constants should be "const" instead
dotnet_diagnostic.S3962.severity = warning

# S3990: Assemblies should be marked as CLS compliant
dotnet_diagnostic.S3990.severity = warning

# S3992: Assemblies should explicitly specify COM visibility
dotnet_diagnostic.S3992.severity = warning

# S3967: Multidimensional arrays should not be used
dotnet_diagnostic.S3967.severity = warning

# S3993: Custom attributes should be marked with "System.AttributeUsageAttribute"
dotnet_diagnostic.S3993.severity = warning

# S3997: String URI overloads should call "System.Uri" overloads
dotnet_diagnostic.S3997.severity = warning

# S3995: URI return values should not be strings
dotnet_diagnostic.S3995.severity = warning

# S3994: URI Parameters should not be strings
dotnet_diagnostic.S3994.severity = warning

# S3996: URI properties should not be strings
dotnet_diagnostic.S3996.severity = warning

# S4000: Pointers to unmanaged memory should not be visible
dotnet_diagnostic.S4000.severity = warning

# S4015: Inherited member visibility should not be decreased
dotnet_diagnostic.S4015.severity = warning

# S4004: Collection properties should be readonly
dotnet_diagnostic.S4004.severity = warning

# S4002: Disposable types should declare finalizers
dotnet_diagnostic.S4002.severity = warning

# S4005: "System.Uri" arguments should be used instead of strings
dotnet_diagnostic.S4005.severity = warning

# S4016: Enumeration members should not be named "Reserved"
dotnet_diagnostic.S4016.severity = warning

# S4018: Generic methods should provide type parameters
dotnet_diagnostic.S4018.severity = warning

# S4022: Enumerations should have "Int32" storage
dotnet_diagnostic.S4022.severity = warning

# S4023: Interfaces should not be empty
dotnet_diagnostic.S4023.severity = warning

# S4017: Method signatures should not contain nested generic types
dotnet_diagnostic.S4017.severity = warning

# S4025: Child class fields should not differ from parent class fields only by capitalization
dotnet_diagnostic.S4025.severity = warning

# S4026: Assemblies should be marked with "NeutralResourcesLanguageAttribute"
dotnet_diagnostic.S4026.severity = warning

# S4027: Exceptions should provide standard constructors
dotnet_diagnostic.S4027.severity = warning

# S4040: Strings should be normalized to uppercase
dotnet_diagnostic.S4040.severity = warning

# S4039: Interface methods should be callable by derived types
dotnet_diagnostic.S4039.severity = warning

# S4041: Type names should not match namespaces
dotnet_diagnostic.S4041.severity = warning

# S4047: Generics should be used when appropriate
dotnet_diagnostic.S4047.severity = warning

# S4050: Operators should be overloaded consistently
dotnet_diagnostic.S4050.severity = warning

# S4052: Types should not extend outdated base types
dotnet_diagnostic.S4052.severity = warning

# S4055: Literals should not be passed as localized parameters
dotnet_diagnostic.S4055.severity = none

# S4056: Overloads with a "CultureInfo" or an "IFormatProvider" parameter should be used
dotnet_diagnostic.S4056.severity = warning

# S4057: Locales should be set for data types
dotnet_diagnostic.S4057.severity = warning

# S4059: Property names should not match get methods
dotnet_diagnostic.S4059.severity = warning

# S4060: Non-abstract attributes should be sealed
dotnet_diagnostic.S4060.severity = warning

# S4069: Operator overloads should have named alternatives
dotnet_diagnostic.S4069.severity = warning

# S4049: Properties should be preferred
dotnet_diagnostic.S4049.severity = none

# S4058: Overloads with a "StringComparison" parameter should be used
dotnet_diagnostic.S4058.severity = warning

# S4225: Extension methods should not extend "object"
dotnet_diagnostic.S4225.severity = warning

# S4226: Extensions should be in separate namespaces
dotnet_diagnostic.S4226.severity = warning

# S4261: Methods should be named according to their synchronicities
dotnet_diagnostic.S4261.severity = warning

# S4462: Calls to "async" methods should not be blocking
dotnet_diagnostic.S4462.severity = warning

# S4564: ASP.NET HTTP request validation feature should not be disabled
dotnet_diagnostic.S4564.severity = warning

# S6354: Use a testable date/time provider
dotnet_diagnostic.S6354.severity = none

# S6423: Azure Functions should log all failures
dotnet_diagnostic.S6423.severity = warning

# S881: Increment (++) and decrement (--) operators should not be used in a method call or mixed with other operators in an expression
dotnet_diagnostic.S881.severity = warning

# S6421: Azure Functions should use Structured Error Handling
dotnet_diagnostic.S6421.severity = warning

# S4212: Serialization constructors should be secured
dotnet_diagnostic.S4212.severity = warning

# SA1105: Query clauses spanning multiple lines should begin on own line
dotnet_diagnostic.SA1105.severity = warning

# SA1106: Code should not contain empty statements
dotnet_diagnostic.SA1106.severity = warning

# SA1108: Block statements should not contain embedded comments
dotnet_diagnostic.SA1108.severity = warning

# SA1107: Code should not contain multiple statements on one line
dotnet_diagnostic.SA1107.severity = warning

# SA1110: Opening parenthesis or bracket should be on declaration line
dotnet_diagnostic.SA1110.severity = warning

# SA1112: Closing parenthesis should be on line of opening parenthesis
dotnet_diagnostic.SA1112.severity = warning

# SA1113: Comma should be on the same line as previous parameter
dotnet_diagnostic.SA1113.severity = warning

# SA1114: Parameter list should follow declaration
dotnet_diagnostic.SA1114.severity = warning

# SA1111: Closing parenthesis should be on line of last parameter
dotnet_diagnostic.SA1111.severity = warning

# SA1115: Parameter should follow comma
dotnet_diagnostic.SA1115.severity = warning

# SA1117: Parameters should be on same line or separate lines
dotnet_diagnostic.SA1117.severity = warning

# SA1118: Parameter should not span multiple lines
dotnet_diagnostic.SA1118.severity = warning

# SA1116: Split parameters should start on line after declaration
dotnet_diagnostic.SA1116.severity = warning

# SA1120: Comments should contain text
dotnet_diagnostic.SA1120.severity = warning

# SA1122: Use string.Empty for empty strings
dotnet_diagnostic.SA1122.severity = warning

# SA1123: Do not place regions within elements
dotnet_diagnostic.SA1123.severity = warning

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = warning

# SA1121: Use built-in type alias
dotnet_diagnostic.SA1121.severity = warning

# SA1128: Put constructor initializers on their own line
dotnet_diagnostic.SA1128.severity = warning

# SA1129: Do not use default value type constructor
dotnet_diagnostic.SA1129.severity = warning

# SA1131: Use readable conditions
dotnet_diagnostic.SA1131.severity = warning

# SA1132: Do not combine fields
dotnet_diagnostic.SA1132.severity = warning

# SA1133: Do not combine attributes
dotnet_diagnostic.SA1133.severity = warning

# SA1134: Attributes should not share line
dotnet_diagnostic.SA1134.severity = warning

# SA1136: Enum values should be on separate lines
dotnet_diagnostic.SA1136.severity = warning

# SA1137: Elements should have the same indentation
dotnet_diagnostic.SA1137.severity = warning

# SA1139: Use literal suffix notation instead of casting
dotnet_diagnostic.SA1139.severity = warning

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = warning

# SA1203: Constants should appear before fields
dotnet_diagnostic.SA1203.severity = warning

# SA1204: Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = warning

# SA1206: Declaration keywords should follow order
dotnet_diagnostic.SA1206.severity = warning

# SA1207: Protected should come before internal
dotnet_diagnostic.SA1207.severity = warning

# SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1208.severity = warning

# SA1209: Using alias directives should be placed after other using directives
dotnet_diagnostic.SA1209.severity = warning

# SA1211: Using alias directives should be ordered alphabetically by alias name
dotnet_diagnostic.SA1211.severity = warning

# SA1212: Property accessors should follow order
dotnet_diagnostic.SA1212.severity = warning

# SA1213: Event accessors should follow order
dotnet_diagnostic.SA1213.severity = warning

# SA1125: Use shorthand for nullable types
dotnet_diagnostic.SA1125.severity = warning

# SA1127: Generic type constraints should be on their own line
dotnet_diagnostic.SA1127.severity = warning

# SA1130: Use lambda syntax
dotnet_diagnostic.SA1130.severity = warning

# SA1135: Using directives should be qualified
dotnet_diagnostic.SA1135.severity = warning

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1205: Partial elements should declare access
dotnet_diagnostic.SA1205.severity = warning

# SA1210: Using directives should be ordered alphabetically by namespace
dotnet_diagnostic.SA1210.severity = warning

# SA1302: Interface names should begin with I
dotnet_diagnostic.SA1302.severity = warning

# SA1303: Const field names should begin with upper-case letter
dotnet_diagnostic.SA1303.severity = warning

# SA1305: Field names should not use Hungarian notation
dotnet_diagnostic.SA1305.severity = warning

# SA1306: Field names should begin with lower-case letter
dotnet_diagnostic.SA1306.severity = warning

# SA1307: Accessible fields should begin with upper-case letter
dotnet_diagnostic.SA1307.severity = warning

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1310: Field names should not contain underscore
dotnet_diagnostic.SA1310.severity = warning

# SA1308: Variable names should not be prefixed
dotnet_diagnostic.SA1308.severity = warning

# SA1311: Static readonly fields should begin with upper-case letter
dotnet_diagnostic.SA1311.severity = warning

# SA1313: Parameter names should begin with lower-case letter
dotnet_diagnostic.SA1313.severity = warning

# SA1314: Type parameter names should begin with T
dotnet_diagnostic.SA1314.severity = warning

# SA1312: Variable names should begin with lower-case letter
dotnet_diagnostic.SA1312.severity = warning

# SA1304: Non-private readonly fields should begin with upper-case letter
dotnet_diagnostic.SA1304.severity = warning

# SA1214: Readonly fields should appear before non-readonly fields
dotnet_diagnostic.SA1214.severity = warning

# SA1216: Using static directives should be placed at the correct location.
dotnet_diagnostic.SA1216.severity = warning

# SA1217: Using static directives should be ordered alphabetically
dotnet_diagnostic.SA1217.severity = warning

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = none

# SA1412: Store files as UTF-8 with byte order mark
dotnet_diagnostic.SA1412.severity = warning

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# SA1605: Partial element documentation should have summary
dotnet_diagnostic.SA1605.severity = warning

# SA1606: Element documentation should have summary text
dotnet_diagnostic.SA1606.severity = warning

# SA1607: Partial element documentation should have summary text
dotnet_diagnostic.SA1607.severity = warning

# SA1609: Property documentation should have value
dotnet_diagnostic.SA1609.severity = warning

# SA1610: Property documentation should have value text
dotnet_diagnostic.SA1610.severity = warning

# SA1612: Element parameter documentation should match element parameters
dotnet_diagnostic.SA1612.severity = warning

# SA1613: Element parameter documentation should declare parameter name
dotnet_diagnostic.SA1613.severity = warning

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = warning

# SA1615: Element return value should be documented
dotnet_diagnostic.SA1615.severity = warning

# SA1616: Element return value documentation should have text
dotnet_diagnostic.SA1616.severity = warning

# SA1618: Generic type parameters should be documented
dotnet_diagnostic.SA1618.severity = warning

# SA1619: Generic type parameters should be documented partial class
dotnet_diagnostic.SA1619.severity = warning

# SA1620: Generic type parameter documentation should match type parameters
dotnet_diagnostic.SA1620.severity = warning

# SA1621: Generic type parameter documentation should declare parameter name
dotnet_diagnostic.SA1621.severity = warning

# SA1622: Generic type parameter documentation should have text
dotnet_diagnostic.SA1622.severity = warning

# SA1624: Property summary documentation should omit accessor with restricted access
dotnet_diagnostic.SA1624.severity = warning

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = warning

# SA1604: Element documentation should have summary
dotnet_diagnostic.SA1604.severity = warning

# SA1608: Element documentation should not have default summary
dotnet_diagnostic.SA1608.severity = warning

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = warning

# SA1617: Void return value should not be documented
dotnet_diagnostic.SA1617.severity = warning

# SA1623: Property summary documentation should match accessors
dotnet_diagnostic.SA1623.severity = warning

# SA1625: Element documentation should not be copied and pasted
dotnet_diagnostic.SA1625.severity = warning

# SA1626: Single-line comments should not use documentation style slashes
dotnet_diagnostic.SA1626.severity = warning

# SA1627: Documentation text should not be empty
dotnet_diagnostic.SA1627.severity = warning

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = warning

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1634: File header should show copyright
dotnet_diagnostic.SA1634.severity = warning

# SA1636: File header copyright text should match
dotnet_diagnostic.SA1636.severity = warning

# SA1637: File header should contain file name
dotnet_diagnostic.SA1637.severity = warning

# SA1638: File header file name documentation should match file name
dotnet_diagnostic.SA1638.severity = warning

# SA1639: File header should have summary
dotnet_diagnostic.SA1639.severity = warning

# SA1641: File header company name text should match
dotnet_diagnostic.SA1641.severity = warning

# SA1642: Constructor summary documentation should begin with standard text
dotnet_diagnostic.SA1642.severity = warning

# SA1643: Destructor summary documentation should begin with standard text
dotnet_diagnostic.SA1643.severity = warning

# SA1635: File header should have copyright text
dotnet_diagnostic.SA1635.severity = warning

# SA1640: File header should have valid company text
dotnet_diagnostic.SA1640.severity = warning

# SA1648: inheritdoc should be used with inheriting class
dotnet_diagnostic.SA1648.severity = warning

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = warning

# SA1651: Do not use placeholder elements
dotnet_diagnostic.SA1651.severity = warning

# SX1101: Do not prefix local calls with 'this.'
dotnet_diagnostic.SX1101.severity = warning

# SX1309: Field names should begin with underscore
dotnet_diagnostic.SX1309.severity = warning

# SX1309S: Static field names should begin with underscore
dotnet_diagnostic.SX1309S.severity = warning

# SA1512: Single-line comments should not be followed by blank line
dotnet_diagnostic.SA1512.severity = none

# SA1515: Single-line comment should be preceded by blank line
dotnet_diagnostic.SA1515.severity = none

# S4144: Methods should not have identical implementations
dotnet_diagnostic.S4144.severity = none

# SA0001: XML comment analysis disabled
dotnet_diagnostic.SA0001.severity = none

# SA1505: Opening braces should not be followed by blank line
dotnet_diagnostic.SA1505.severity = none

# SA1508: Closing braces should not be preceded by blank line
dotnet_diagnostic.SA1508.severity = none
