@page

@model todo_aspnetmvc_ui.Models.TodoListModel

<h2>Add your todo list:</h2>
<form method="post">
    <p>
        <label>Title:</label><br />
        <input type="text" name="title" />
    </p>
    <p>
        <label>Description:</label><br />
        <input type="text" name="description" />
    </p>
    <input type="submit" value="Send" />
</form>

