@page

<h2>Change your todo list:</h2>
<form method="post">
    <p>
        <label>Title:</label><br />
        <input type="text" name="title" value="@ViewBag.TodoList.Title" />
    </p>
    <p>
        <label>Description:</label><br />
        <input type="text" name="description" value="@ViewBag.TodoList.Description" />
    </p>
    <input type="submit" value="Send" />
</form>
