@using todo_aspnetmvc_ui.ViewModels
@using todo_aspnetmvc_ui.Models

@model IndexViewModel

<div class="form-check checkbox-table-main">
    @{
        string check = "";

        if (Model.TodoItems.First().Status == TodoItemStatus.Completed)
        {
            check = "checked";
        }
    }
    <input class="form-check-input" type="checkbox" onchange="ChangeStatus('flexCheckDefault', 'selectMenuButton1');" value="" id="flexCheckDefault" @check>
</div>

<div class="form-floating select">
    <select class="form-select b-r-4" name="status" onchange="ChangeDone('flexCheckDefault', 'selectMenuButton1');" id="selectMenuButton1">
        @{
            string select = "";
            if (Model.TodoItems.First().Status == TodoItemStatus.Completed)
            {
                select = "Completed";
            }
            else if (Model.TodoItems.First().Status == TodoItemStatus.InProgress)
            {
                select = "In Progress";
            }
            else
            {
                select = "Not Started";
            }
        }
        <option value="Model.TodoItems.First().Status" hidden selected>@select</option>
        <option value="@TodoItemStatus.Completed">Completed</option>
        <option value="@TodoItemStatus.InProgress">In Progress</option>
        <option value="@TodoItemStatus.NotStarted">Not Started</option>
    </select>
</div>