* {
    background: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

.login {
    position: absolute;
    width: 67.5%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.img-login-page {
    position: absolute;
    width: 32.5%;
    height: 100%;
    left: 67.5%;
    top: 0px;
    z-index: -1;
}

figure.img-login-page, img.img-login-page {
    height: 100%;
    width: 100%;
    left: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 207px;
    height: 23px;
    left: 132px;
    top: 72px;
}

a.header {
    width: 207px;
    height: 23px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 23px;
    left: 0px;
    top: 0px;
    color: #232D42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 556px;
    height: 600px;
    left: 132px;
    top: 232px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 556px;
    height: 100%;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 556px;
    height: 93%;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.sign-in-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 556px;
    height: 87px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

h3.sign-in-text {
    width: 106px;
    height: 43px;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 130%;
    margin: 0px;
    color: #232D42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

p.sign-in-text {
    width: 187px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    margin: 0px;
    color: #8A92A6;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.sign-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 556px;
    height: 288px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.sign-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 436px;
    height: 220px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.form-gr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 436px;
    height: 80px;
    margin: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

label.form-gr {
    width: 40px;
    height: 28px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    margin: 0px;
    color: #8A92A6;
    flex: none;
    order: 0;
    flex-grow: 0;
}

input.form-gr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 436px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #8A92A6;
    flex: none;
    order: 1;
    flex-grow: 0;
}

button.sign-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    width: 188px;
    height: 44px;
    background: #017DB7;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.remember {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 166px;
    width: 436px;
    height: 28px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.check-remember {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 142px;
    height: 28px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

input.check-remember {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border: 1px solid #8A92A6;
    box-shadow: 0px 4px 8px rgba(0, 16, 41, 0.1);
    border-radius: 2px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

p.check-remember {
    width: 118px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    margin: 0px;
    color: #8A92A6;
    flex: none;
    order: 1;
    flex-grow: 0;
}

a.remember {
    width: 128px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #017DB7;
    flex: none;
    order: 1;
    flex-grow: 0;
}

p.sign-form {
    width: 140px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #017DB7;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.register {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 556px;
    height: 7%;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

a.register {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    width: auto;
    color: #017DB7;
    flex: none;
    order: 0;
    flex-grow: 0;
}

p.register {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    width: auto;
    color: #232D42;
    flex: none;
    order: 0;
    flex-grow: 0;
}