.my-body {
    background-color: #F7F7F7;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    width: 100%;
    height: 100%;
}

button.dropdown-toggle::after {
    border: 0px;
}

a.dropdown-item {
    cursor: pointer;
}

.b-0 {
    border: 0px;
}

.b-r-4 {
    border-radius: 4px;
}

.b-c-i {
    background-color: inherit;
}

.c {
    color: #232D42;
}

.c-a {
    color: #232D42;
}

.c-b {
    color: black;
}

.l-w {
    font-weight: 700;
}

#datetime {

    border: 0px;
}

/*Header*/

.header {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 65px;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid #E9ECEF;
    /* Shadow */

    box-shadow: 0px 10px 30px rgba(17, 38, 146, 0.05);
}

#header {
    position: fixed;
    background: #FFFFFF;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

#container-fluid {
    flex-direction: row;
    padding: 0px;
    height: 45px;
    width: 100%;
    gap: 8px;
    padding-left: 0px;
    padding-right: 0px;
}

.menu-btn {
    width: 20px;
    height: 20px;
}

button.menu-btn {
    padding: 0px;
    border: 0px;
    background-color: inherit;
    vertical-align: text-top;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 130px;
    height: 23px;
}

a.links {
    width: 150px;
    height: 23px;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    /* Main Color Text */
    color: #232D42;
    width: 130px;
    margin: 0px;
}

.control {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    height: 45px;
    width: 194px;
    gap: 8px;
}

.bell {
    width: 24px;
    height: 24px;
    color: #8A92A6;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 153px;
    height: 45px;
}

button.user {
    padding: 0px;
    background-color: #FFF;
    border: 0px;
    display: flex;
    gap: 8px;
    width: 153px;
    height: 45px;
    justify-content: flex-start;
}

button.user:hover {
    background-color: #FFF;
}

img.user {
    width: 35px;
    height: 35px;
    border-radius: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 92px;
    height: 45px;
}

p.name {
    width: 68px;
    height: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    margin-bottom: 0;
    text-align: initial;
    /* Main Color Text */
    color: #232D42;
}

p.title {
    width: 92px;
    height: 17px;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    text-align: initial;
    margin: 0px;
    /* Main Grey */
    color: #8A92A6;
}

/*Side menu*/

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    padding: 0px 23px;
    gap: 16px;
    width: 227px;
    top: 65px;
    left: 0px;
    background: #FFFFFF;
    /* Shadow */

    box-shadow: 0px 10px 30px rgba(17, 38, 146, 0.05);
    overflow: scroll;
    height: 90%;
}

.workspace-side-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 181px;
    height: 100%;
    background-color: inherit;
}

.title-workspace-side-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 21px 0px;
    width: 181px;
    height: 66px;
}

.header-title-workspace-side-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 161px;
    height: 24px;
}

span.header-title-workspace-side-menu {
    width: 161px;
    height: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: left;
    /* Main Color Text */

    color: inherit;
}

.three-dots-title-workspace-side-menu {
    width: 18px;
    height: 18px;
}

span.three-dots-title-workspace-side-menu {
    width: 14.62px;
    height: 3.38px;
    align-items: center;
    /* Main Grey */

    color: #8A92A6;
}

.menu-workspace-side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 181px;
    height: 100%;
}

.help-menu-workspace-side-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 181px;
    height: 28px;
    gap: 8px
}

.title-help-menu-workspace-side-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 155px;
    height: 28px;
    flex-grow: 1;
}

p.title-help-menu-workspace-side-menu {
    width: 155px;
    height: 28px;
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    align-items: center;
    text-align: left;
    /* Main Color Text */
    color: inherit;
}

.select {
    width: 100%;
    height: 100%;
}

#dropdownLists1, #dropdownList1 {
    padding: 0px;
    background-color: #FFF;
    border-color: #FFF;
    width: 25px;
    height: 25px;
    border: 0px;
    background-color: inherit;
}

button.drop-list {
    padding: 0px;
    background-color: inherit;
    border-color: #FFF;
    width: 25px;
    height: 25px;
    border: 0px;
}

.three-dotz-help-menu-workspace-side-menu {
    width: 24px;
    height: 24px;
    justify-content: flex-end;
}

span.three-dotz-help-menu-workspace-side-menu {
    width: auto;
    height: 100%;
    align-items: center;
    /* Main Grey */
    color: #8A92A6;
}

.spreadsheets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 0px;
    width: 181px;
    height: 41px;
    border-radius: 0px 32px 32px 0px;
}

.messages-spreadsheets {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 55px;
    width: 181px;
    height: 25px;
}

.item-messages-spreadsheets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 181px;
    height: 25px;
}

.status-item-messages-spreadsheets {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 147px;
    height: 25px;
}

.eye-status-item-messages-spreadsheets {
    width: 18px;
    height: 18px;
}

button.eye-status-item-messages-spreadsheets {
    padding: 0px;
    border: 0px;
    background-color: inherit;
}

span.eye-status-item-messages-spreadsheets {
    align-items: center;
    font-size: 18px;
    /* Main Grey */
    color: #8A92A6;
}

a.status-item-messages-spreadsheets {
    width: 121px;
    height: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0px 0px;
    /* Main Color Text */
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.three-dotz-item-messages-spreadsheets {
    width: 24px;
    height: 24px;
}

span.three-dotz-item-messages-spreadsheets {
    align-items: center;
    /* Main Grey */
    color: #8A92A6;
}

.create {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 181px;
    height: 34px;
}

.spreadsheets-create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 0px;
    width: 181px;
    height: 34px;
    border-radius: 0px 32px 32px 0px;
}

.messages-spreadsheets-create {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 181px;
    height: 18px;
}

.item-messages-spreadsheets-create {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 181px;
    height: 18px;
    gap: 0px;
}

button.item-messages-spreadsheets-create {
    height: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: inherit;
    border-color: white;
    padding: 0px 0px;
    color: #212529;
    display: flex;
    color: #8A92A6;
    padding-left: 26px;
    gap: 54px;
}

button.item-messages-spreadsheets-create:hover {
        color: #212529;
    }

.plus-circle-item-messages-spreadsheets-create {
    width: 18px;
    height: 18px;
    align-items: flex-start;
}

span.plus-circle-item-messages-spreadsheets-create {
    align-items: center;
    font-size: 18px;
}

/*Main*/

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    padding-right: 20px;
    padding-bottom: 20px;
    z-index: -2;
    width: 95%;
    top: 65px;
    left: 5%;
}

.header-main {
    flex-direction: column;
    padding: 0px;
    gap: 0px;
    height: auto;
    margin-bottom: 32px;
    width: 100%;
    margin-right: 24px;
}

.title-header-main {
    width: 100%;
    height: 66px;
    font-weight: 700;
    font-size: 40px;
    line-height: 175%;
    border: 0px;
    resize: none;
    /* Main Color Text */
    color: #232D42;
    background-color: #F7F7F7;
}

.description-header-main {
    width: 100%;
    height: 35px;
    font-weight: 300;
    font-size: 20px;
    line-height: 175%;
    border: 0px;
    resize: none;
    /* Main Color Text */
    color: #232D42;
    background-color: #F7F7F7;
}

#progress {
    border: 0px;
    border-color: #32383E;
    border-style: solid;
}

.table-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    /* Shadow */
    filter: drop-shadow(0px 10px 30px rgba(17, 38, 146, 0.05));
    border-radius: 16px;
    background-color: #FFFFFF;
    width: 100%
}

.settings-table-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    padding-right: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: inherit;
    padding: 4px;
    justify-content: center;
    position: sticky;
    top: 65px;
    z-index: 1;
}

select.item-buttons-settings-table-main {
    height: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background: #FFFFFF;
    border-color: white;
    padding: 0px 0px;
    /* 8A92A6 Text Color 2 */
    color: #8A92A6;
    background-color: inherit;
    width: 175px;
}

button.item-buttons-settings-table-main {
    padding-bottom: 0px;
    margin-bottom: 5px;
}

#addCircle1, #addCircle2 {
    vertical-align: text-bottom;
}

#createNew {
    color: #8A92A6;
    padding: 0px;
}


.table thead th {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    height: 47px;
    padding: 0px;
    align-items: center;
    text-align: center;
    /* Main Color Text */

    color: #232D42;
}

tr {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    height: 47px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    /* identical to box height */
    letter-spacing: 1.33333px;
    /* Main Color Text */
    color: #232D42;
}

.table tbody th, .table tbody td {
    vertical-align: middle;
}

.checkbox-table-main {
    vertical-align: unset;
    padding-bottom: 20px;
}

#table {
    margin-bottom: 0px;
    width: 100%
}

#tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#tr {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    width: 100%
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-color: #8A92A6;
}

.create-table-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 14px 16px;
    gap: 10px;
    width: 100%;
    height: 47px;
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    height: 47px;
    padding-left: 16px;
    background-color: inherit;
}

#col-numer {
    padding: 0px;
    padding-left: 1%;
    padding-right: 2%;
    width: 100%;
    text-align: left;
    /* height: 20px; */
    padding: 5px;
}

#col-done {
    width: 100%;
    text-align: left;
    padding: 5px;
}

#col-title {
    padding-right: 2%;
    background-color: inherit;
    width: 100%;
    text-align: left;
    padding: 5px;
    height: auto;
    gap: 91px;
}

.title-table {
    background-image: linear-gradient(to bottom, transparent calc(50% - 1px), gray, transparent calc(50% + 1px));
}

/*wfwfw*/
.table tbody td {
    display: flex;
    gap: 16px;
}

#col-description {
    padding-right: 2%;
    background-color: inherit;
    width: 100%;
    text-align: left;
    padding: 5px;
    gap: 33px;
}

.textarea-table {
    height: 23px;
    resize: none;
    width: 100%;
}

#col-due-date {
    padding-right: 2%;
    background-color: inherit;
    width: 100%;
    text-align: left;
    padding: 5px;
    gap: 54px;
}

#col-create-date {
    padding-right: 2%;
    width: 100%;
    text-align: left;
    padding: 5px;
}

#col-status {
    padding-right: 1%;
    width: 100%;
    text-align: left;
    padding: 5px;
    gap: 81px;
}

#col-dotz {
    width: 100%;
    text-align: left;
    padding: 5px;
}

button.col-dotz {
    padding: 0px;
    background: #FFF;
    width: 32px;
    border: 0px;
    background-color: inherit;
}

button.col-dotz:hover {
    background: #FFF;
}

span.col-dotz {
    color: #6C757D;
}

#dropdownListTable::after {
    border-left: 0px;
    margin-left: 0px;
}

#selectMenuButton1 {
    width: 140px;
    height: 30px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #6C757D;
    background-color: #FFF;
    text-align: center;
    padding: 0px;
}