@model todo_domain_entities.EntitiesBL.TodoListBL

<h2>@TempData["Title"]</h2>
<form method="post">
    <p>
        <label>Title:</label><br />
        <input type="text" name="title" value="@Model.Title" />
    </p>
    <p>
        <label>Description:</label><br />
        <input type="text" name="description" value="@Model.Description" />
    </p>
    <input type="submit" value="Send" />
</form>
