@using todo_domain_entities.EntitiesBL
@model IEnumerable<TodoListBL>

<h2>All lists:</h2>

@foreach (TodoListBL item in Model)
{
    <ul>
        <li>@item.Title - @item.Description</li>
    </ul>
}
